<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cakeshopspringboot.dao.GoodsDao">
    <update id="updateGoods">
        update goods
        set name = #{name}, price = #{price},intro = #{intro},stock = #{stock}, typeid=#{typeid}
        where id = #{id}
    </update>

<!--    <delete id="Batchdelete">-->
<!--        delete from user where id in-->
<!--        <foreach collection="list" open="(" close=")" separator="," item="id">#{id}</foreach>-->
<!--    </delete>-->
</mapper>